:root {
  --background-color: #ffffff;
  --text-color: #0f0f0f;
  --header-button-txt-color: #1c1b1b;
  /* also odd row color */
  --list-color: #ebe9e9;
  --even-row-color: #a5a5a5;
  --scrollbar-color: rgb(92, 92, 92) rgb(180, 180, 182);
  --border-color: #9a9a9a;
  --form-container-color: #f0f0f0;
  --input-field-color: #dfdfdf;
  --non-editable-color: #b4b4b4;
  --stock-data-color: #06401f;
  --stock-price-color: #545454;
  --stock-graph-llm-color-bg: #d3d3d3;
  --llm-field-bg-color: #c8c8c8;
  --passwrd-reset-bg-color: #cccccc;
}

[data-theme="dark"] {
  --background-color: #141414;
  --text-color: #ffffff;
  --header-button-txt-color: #ffffff;
  /* also odd row color */
  --list-color: #1e1e1e;
  --even-row-color: #363636;
  --scrollbar-color: rgb(116, 116, 116) rgb(61, 61, 61);
  --border-color: #333;
  --form-container-color: #212121;
  --input-field-color: #b4b4b4;
  --non-editable-color: #6c6c6c;
  --stock-data-color: #069042;
  --stock-price-color: #b2b2b2;
  --stock-graph-llm-color-bg: #474747;
  --llm-field-bg-color: #313131;
  --passwrd-reset-bg-color: #363636;
}
.input-field {
  background-color: var(--input-field-color);
  color: #1c1b1b;
}

.non-editable {
  background-color: var(--non-editable-color);
}

.input-field::placeholder {
  color: #1c1b1b;
}

.list-header {
  display: flex;
  align-items: center;
  background-color: #048d41;
  height: 25px;
  margin-bottom: 5px;
  border-radius: 5px;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 130vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--background-color);
  color: #ffffff;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}

/* Main heading style */
h1 {
  font-size: 24px;
  color: #06a94d;
}

/* Interactive logo styling */

.main-header img {
  max-height: 75px;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s;
}

/* Logo hover effect */
.main-page-header img:hover {
  transform: scale(1.1);
}

.header-button {
  background-color: transparent;
  color: var(--text-color);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s;
}
h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #06a94d;
}

button {
  padding: 10px 20px;
  background-color: #06a94d;
  color: #141414;
  margin-bottom: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.form-container {
  background-color: var(--form-container-color);
  padding: 20px;
  border-radius: 10px;
  justify-content: left;
  align-items: left;
}

.user-form {
  display: flex;
  flex-direction: column; /* Stacks form elements vertically */
  width: 100%;
  margin-bottom: 20px;
  max-width: 400px; /* Limits form width on larger screens */
  margin-top: 20px;
  color: #08c05e;
}

button:hover {
  transform: scale(1.025); /* Slightly enlarges button on hover */
  background-color: #048d41;
}

input {
  margin-top: 10px;
  padding: 10px;
  margin-bottom: 10px;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 5px;
}

.link {
  display: inline-block;
  font-size: 12px;
  color: #08c05e;
  cursor: pointer;
  margin: 10px 0;
  padding: 2px 5px;
}
.link:hover {
  color: #0ba453;
}
