@import url(./main.css);

.list-header {
  justify-content: center;
}
.list-header label {
  color: white;
  font-size: 14px;
  margin-left: 5px;
}
.list-header select {
  padding-left: 10px;
  width: 100%;
  height: 100%;
  background-color: #048d41;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  align-items: right;
  cursor: pointer;
}
