/* Global styles for full-height layout */
.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: #141414;
  color: #ffffff;
}
/* Header layout with logo and title */
.main-page-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
}
/* Main heading style */
.main-page-header h1 {
  font-size: 24px;
  color: #06a94d;
}
/* Interactive logo styling */

.main-page-header img {
  max-height: 75px;
  width: auto;
  cursor: pointer;
  transition: transform 0.3s;
}
/* Logo hover effect */
.main-page-header img:hover {
  transform: scale(1.1);
}
/* Search form layout */

.search-container form {
  margin-top: 20px;
  display: flex;
}
/* Search input field */
.search-container input {
  flex-grow: 1;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #333;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
/* Search button */
.search-container button {
  padding: 10px 20px;
  background-color: #06a94d;
  color: #141414;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
}
/* Layout for my-stocks and news buttons */

.my-stocks-news-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  margin-top: 20px;
  max-height: 800px;
  height: 60vh;
  gap: 20px;
  width: 100%;
  padding-bottom: 20px;
}

/* Navigation buttons container */

.button-container {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  gap: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 20px;
  border-radius: 5px;
  background-color: #007031;
}
/* Individual nav button styling */
.news-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.news-filter-dropdown {
  width: 150px;
}
.nav-button {
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;

  cursor: pointer;
  font-size: 16px;
  transition: transform 0.3s;
}
/* Nav button hover effect */
.nav-button:hover {
  transform: scale(1.025);
  background-color: #048d41;
}
/* Main heading style */
h2 {
  margin-bottom: 15px;
  font-size: 20px;
  color: #06a94d;
}
/* Stock container style */
.stock-container {
  min-width: 70%;
  font-size: 14px;
}
/* Stock header style */
.stock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
  background: #069042;
  height: 25px;
  border-radius: 5px;
  padding-left: 15px;
  padding-right: 15px;
}
/* Stock header symbols */
.stock-symbol-header,
.stock-name-header,
.stock-ev-to-ebita-header,
.stock-pe_ratio-header,
.stock-price-header,
.stock-market-cap-header,
.stock-dividend-header {
  white-space: nowrap;
  color: #ffffff;
  flex: 1;
  padding: 0 5px;
}
/* Stocks and news list style */
.stocks-list,
.news-list {
  width: 100%;

  background-color: #1e1e1e;
  border-radius: 5px;
  overflow-y: auto;
  flex-grow: 1;
  max-height: 450px;
  scrollbar-color: rgb(116, 116, 116) rgb(61, 61, 61);
}
/* Stocks and news row style */
.stock-row,
.article-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border-bottom: 1px solid #333;
}
/* Article row style */
.article-row {
  min-height: 80px;
  transition: filter 0.3s ease;
}
/* Last child style */
.stock-row:last-child,
.article-row:last-child {
  border-bottom: none;
}
/* Even row style */
.stock-row.even,
.article-row.even {
  background-color: #262626;
}
/* Odd row style */
.stock-row.odd,
.article-row.odd {
  background-color: #1e1e1e;
}
/* Article row hover effect */
.article-row:hover {
  filter: brightness(120%);
}
/* Stock and article data */
.stock-symbol,
.stock-name,
.stock-ev-to-ebita,
.stock-pe-ratio,
.stock-price,
.stock-market-cap,
.stock-dividend,
.article-title {
  color: #069042;
  flex: 1;
  padding: 0 5px;
}
/* Article title style */
.article-title {
  font-weight: bold;
}
/* Article meta style */
.article-meta {
  display: flex;
  font-size: 12px;
  flex-direction: column;
}
/* News company style */
.news-company {
  font-size: 12px;
  color: #077938;
}
/* News header image style */
.news-header-img {
  max-height: 80px;
  max-width: 80px;
  height: auto;
  width: auto;
}
/* Stock symbol style */
.stock-symbol {
  font-weight: bold;
}
/* Stock name style */
.stock-name {
  flex: 4px;
}
/* Stock ev to ebitda style */
.stock-ev-to-ebita {
  text-align: center;
}
/* Stock price, pe ratio, and market cap style */
.stock-price,
.stock-pe-ratio,
.stock-dividend,
.stock-market-cap {
  text-align: center;
}
/* Responsive layout for smaller screens */
@media (max-width: 768px) {
  .article-row {
    flex-wrap: wrap;
  }

  .article-title,
  .news-company {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }
}
/* Responsive layout for smaller screens */

@media (max-width: 768px) {
  .stock-row {
    flex-wrap: wrap;
  }
  /* Stock symbol, name, ev to ebitda, pe ratio, price, and market cap style */
  .stock-symbol,
  .stock-name,
  .stock-ev-to-ebita,
  .stock-pe-ratio,
  .stock-price,
  .stock-market-cap {
    width: 100%;
    text-align: left;
    margin-bottom: 5px;
  }

}

/* Responsive layout for smaller screens */

@media (max-width: 768px) {
  .my-stocks-news-container {
    flex-direction: column;
    height: auto;
    max-height: none;
  }
  /* My stocks and news button style */
  .my-stocks-button,
  .news-button {
    width: 100%;
    height: 300px;
    min-height: 100px;
    max-height: none;
    max-width: none;
  }
  /* Button container style */
  .button-container {
    flex-direction: column;
    align-items: center;
    background-color: transparent;
  }
  /* Nav button style */
  .nav-button {
    background-color: #007d36;
    width: 100%;
    max-width: 300px;
    margin-bottom: 10px;
  }
}
