@import url(../main.css);

.profile-container {
  display: flex;
  flex-direction: column;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: var(--background-color);
  color: #ffffff;
  min-height: 100vh;
  width: 100%;
}

.blank-space {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 20px;
  flex: 1;
  width: 100%;
}

.profile-card {
  width: 20% !important;
  min-width: 450px;
  max-width: 600px;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
}

/* Centering layout for the form */
.profile-form {
  align-items: center;
}

.user-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin: 0 auto; /* Center the form if it hits max-width */
}

/* Link hover effect */
.profile-container p a:hover {
  text-decoration: underline;
}

/* Hide default checkbox */
.toggle-switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.form-row {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.form-row label {
  flex: 0 0 100px;
  text-align: left;
  margin-right: 10px;
}

.form-row input {
  width: 250px;
}

.reset-password-container {
  background-color: var(--passwrd-reset-bg-color);
  padding: 7px;
  border-radius: 5px;
}
