@import url(../main.css);
.stock-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;
  background-color: var(--background-color) !important;
  color: var(--text-color);
}

/* make the header next to the price container*/
.stock-page-header-left {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stock-page-header-right {
  display: flex;
  align-items: center;
  gap: 10px;
}
.stock-page-header {
  font-size: 32px;
  color: #06a94d;
}

/* Container for all stock data items */
.stock-data-container {
  display: flex;
  flex-wrap: wrap; /* Allow wrapping for smaller screens */
  justify-content: center;
  gap: 10px; /* Space between data items */
  width: 100%;
  max-width: 1400px; /* Limit width for readability */
  height: 100%;
  padding: 15px;
}

/* Individual data containers */
.stock-info-container {
  background-color: var(
    --list-color
  ); /* Slightly lighter than background for contrast */
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  min-width: 100px; /* Ensure consistent width */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

/* Labels for each data item */
.stock-info-label {
  display: block;
  font-size: 14px;
  font-weight: bold;
  color: #06a94d; /* Match header color for consistency */
  margin-bottom: 1px;
}

.stock-price-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  color: var(--stock-price-color);
  font-size: 32px;
  font-weight: bold;
  gap: 5px;
}

.buy-hold-sell-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4px;
  background-color: var(--list-color);
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  min-width: 100px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.stock-buy-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  background-color: #06a94d;
  color: #2d2d2d;
  border-radius: 8px;
  padding: 5px;
}
.stock-hold-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  background-color: #e1c93e;
  color: #2d2d2d;
  border-radius: 8px;
  padding: 5px;
}
.stock-sell-rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 5px;
  background-color: #d93e3e;
  color: #2d2d2d;
  border-radius: 8px;
  padding: 6px;
}

.stock-buy-rating-label,
.stock-hold-rating-label,
.stock-sell-rating-label {
  margin-left: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: bold;
  color: #2d2d2d;
  margin-bottom: 1px;
}

.stock-graph-llm-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 97.5%;
  height: 100%;
  background-color: var(--stock-graph-llm-color-bg);
  padding: 15px;

  border-radius: 8px;
}
.stock-graph-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--list-color);
  padding: 15px;
  border-radius: 8px;
  width: 60%;

  text-align: center;
  min-width: 100px; /* Ensure consistent width */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}
/*Make the llm container 30% wide and graph container 70% wide*/
.stock-llm-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  background-color: var(--list-color);
  padding: 15px;
  width: 40%;
  border-radius: 8px;
  text-align: center;
  min-width: 100px; /* Ensure consistent width */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Subtle shadow for depth */
}

.stock-llm-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stock-llm-header-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  color: #06a94d;
  font-size: 20px;
  font-weight: bold;
}
.stock-llm-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: var(--llm-field-bg-color);
  padding: 15px;
  border-radius: 8px;
  width: 95%;
  min-height: 300px;
  height: 100%;
}
.stock-llm-summary {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stock-llm-summary-label {
  font-size: 14px;
  font-weight: bold;
  color: #06a94d;
}

.stock-llm-summary-text {
  font-size: 14px;
  font-weight: bold;
  color: #b2b2b2;
}

.stock-llm-chat-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.stock-llm-chat-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.llm-buttons-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 100px;
}
.toggle-switch {
  margin-left: 20px;
  display: flex;
  align-items: left;
  gap: 5px;
  margin-top: 10px;
}

.prompt-container {
  display: flex;
  gap: 10px;
  margin: 20px;
  width: 95%;
}

.prompt-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #b2b2b2;
  border-radius: 5px;
  font-size: 14px;
}
