.list-body {
      overflow-y: auto;
      scrollbar-color: var(--scrollbar-color);
      max-height: 600px;
      
}
.list-header {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap to next line on smaller screens */
    justify-content: left;
    align-items: left;
    gap: 10px; /* Add spacing between items when they wrap */
    margin-top: 10px;
    min-height: 50px;
    padding-left: 10px;
}